<IfModule mod_rewrite.c>
    RewriteEngine On

    # Permet de récupérer l'en-tête Authorization sur MAMP / Apache
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]
</IfModule>